body {
  background-color: black;
}

p {

 color: white;
 font: 17px pixelsans, sans-serif;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font: 20px pixelsans, sans-serif;
}

ul li a:hover {
  background-color: #111111;
  color: yellow;
}

h1 {

 color: white;
 font: 25px pixelsans, sans-serif;

}

h2 {

 color: white;
 font: 20px pixelsans, sans-serif;

}

a {

 color: yellow;
 font: 17px pixelsans, sans-serif;

}

.center {
  text-align: center;
}


@font-face {
  font-family: pixelsans;
  src: url(./font/PixeloidSans.ttf);
}
